* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    
}

h1 {
    font-size: 40px;
    margin-bottom: 5px;
    color: green;
}

.date{
    margin-bottom: 20px;
}

h2 {
    color: green;
    font-size: 25px;
    margin-bottom: 20px;
}
p {
    text-align: justify;
}

.container{
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.main-text1 {
    padding-bottom: 10px;
}
.other{
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    border: 1px solid rgb(109, 109, 109);
}